---
layout: default
---

<div>

  {{ content }}

  <h2>Latest Postings</h2>

  <div>&nbsp;</div>

  <ul class="post-list">
                       
    <li>

      {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
      <span class="post-meta">{{ site.posts[0].date | date: date_format }}</span>

      <h2>
        <a class="post-link" href="{{ site.posts[0].url | relative_url }}" title="{{ site.posts[0].title }}">{{ site.posts[0].title | escape }}</a>
      </h2>

      <hr size="3" noshade>

    </li>
    <li>

      {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
      <span class="post-meta">{{ site.posts[1].date | date: date_format }}</span>

      <h2>
        <a class="post-link" href="{{ site.posts[1].url | relative_url }}" title="{{ site.posts[1].title }}">{{ site.posts[1].title | escape }}</a>
      </h2>

      <hr size="3" noshade>

    </li>
    <li>

      {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
      <span class="post-meta">{{ site.posts[2].date | date: date_format }}</span>

      <h2>
        <a class="post-link" href="{{ site.posts[2].url | relative_url }}" title="{{ site.posts[2].title }}">{{ site.posts[2].title | escape }}</a>
      </h2>

      <hr size="3" noshade>

    </li>
    <li>

      {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
      <span class="post-meta">{{ site.posts[3].date | date: date_format }}</span>

      <h2>
        <a class="post-link" href="{{ site.posts[3].url | relative_url }}" title="{{ site.posts[3].title }}">{{ site.posts[3].title | escape }}</a>
      </h2>

      <hr size="3" noshade>

    </li>
    <li>

      {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
      <span class="post-meta">{{ site.posts[4].date | date: date_format }}</span>

      <h2>
        <a class="post-link" href="{{ site.posts[4].url | relative_url }}" title="{{ site.posts[4].title }}">{{ site.posts[0].title | escape }}</a>
      </h2>

      <hr size="3" noshade>

    </li>

  </ul>

</div>
